.new-note-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  padding: 18px 20px;
  background-color: var(--new-note-bg);
  color: var(--note-text);
}

.new-card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
}

.save-btn {
  border: none;
  outline: none;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 40px;
  background-color: var(--button-bg);
  cursor: pointer;
}

.textarea {
  width: 90%;
  height: 196px;
  resize: none;
  padding: 4px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: var(--new-note-bg);
}

.word-count-msg {
  font-size: 14px;
  white-space: nowrap;
}
